<nav id="main-menu" class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-navbar-collapse" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="logo-link navbar-right" href="/">
                <img src="/img/logo.png" class="logo">
            </a>
            <a href="{{ app.user?'/user/minha-conta':'/user/login' }}" class="user-link">
                {{ svgImage('/img/icon-login.png') | raw }}
            </a>
        </div>

        <div id="main-menu-navbar-collapse" class="navbar-collapse collapse {{ app.user?'logged-menu':'' }}">
            {% if app.user %}
                <div class="nav-user">
                    <a class="welcome-message" href="/user/minha-conta">
                        Olá, {{ app.user.name | split(' ')[0] }}
                    </a>
                    <a class="hidden-md hidden-lg" data-toggle="collapse" href="#nav-user-links" aria-expanded="false">
                        Minha Conta
                        <span class="caret"></span>
                    </a>
                    <ul id="nav-user-links" class="collapse nav navbar-nav nav-user-links">
                        <li><a href="/meus-cupons/notas-enviadas">Notas enviadas</a></li>
                        <li><a href="/meus-cupons">Meus Cupons</a></li>
                        <li><a href="/user/minha-conta">Alterar dados</a></li>
                        <li><a href="/user/logout">Sair</a></li>
                    </ul>
                </div>
            {% endif %}
            <ul class="nav navbar-nav default {{ app.campaignFinished ? '' : 'navbar-stretch'}}">
                <li class="link-default"><a href="/">Home</a></li>
                <li class="link-default"><a class="como-funciona-link" href="/#como-funciona">Como funciona</a></li>
                <li class="link-default link-rules desk"><a href="/regulamento">Regulamento</a></li>
                <li class="link-default link-rules mb"><a href="/files/regulamento.pdf" download>Regulamento</a></li>

                {% if hasWinners %}
                    <li class="link-default"><a href="/ganhadores">Ganhadores</a></li>
                {% endif %}
                {% if not fileIsEmpty %}
                    <li class="link-default">
                        <a href="/duvidas">Dúvidas frequentes</a>
                    </li>
                {% endif %}
                <li class="link-default no-divider">
                    <a href="/fale-conosco">Fale Conosco</a>
                </li>
                {% if not app.user %}
                    <li class="nav-login">
                        <a href="/user/login">
                            {{ svgImage('/img/icon-login.svg') | raw }}
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>