{% spaceless %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% if app.env == 'prod' %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-5BRRQ7W');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Descubra como é fácil cadastrar seus cupons e concorrer na promoção {{ app.campaignName }}, A Hikari leva você ao cruzeiro marítimo dos sus sonhos"/>
    <title>{{ app.campaignName }} {% block title %}{% endblock %}</title>

    <meta property="og:title" content="{{ app.campaignName }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Descubra como é fácil cadastrar seus cupons e concorrer na promoção {{ app.campaignName }}" />
    <meta property="og:url" content="{{ app.baseUrl }}" />
    <meta property="og:image" content="{{ app.baseUrl }}/img/banner-01.png" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="{{ app.campaignName }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ app.baseUrl }}">
    <meta name="twitter:title" content="{{ app.campaignName }}">
    <meta name="twitter:description" content="Descubra como é fácil cadastrar seus cupons e concorrer na promoção {{ app.campaignName }}">
    <meta name="twitter:image" content="{{ app.baseUrl }}/img/banner-01.png">

    <link rel="stylesheet" type="text/css" href="{{ webpackAsset('/css/vendor.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ webpackAsset('/css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ webpackAsset('/css/app.css') }}">

    <link rel="stylesheet" type="text/css" href="/css/custom.css">

    <link rel="shortcut icon" href="/img/ico.png" type="image/x-icon">
    <link rel="icon" href="/img/ico.png" type="image/x-icon">

    {% block styles %}
    {% endblock %}
</head>
<body class="content">
    {% if app.env == 'prod' %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BRRQ7W" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}

    {% include '/site/partials/nav.twig' %}

    <div class="container banners">
        <div class="flexslider desktop">
            <ul class="slides">
                <li>
                    <div class="banner-container-wrapper" style="background-image: url('/img/banner-01.png')"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container {{ app.user ? 'logged' : '' }}">
        {% block content %}
        {% endblock %}
    </div>

    {% block modal %}
    {% endblock %}

    {% include '/site/partials/footer.twig' %}

    <script src="{{ webpackAsset('/js/vendor.js') }}"></script>
    <script src="{{ webpackAsset('/js/app.js') }}"></script>

    {% block scripts %}
    {% endblock %}

    {% if app.analyticsCode and app.env == 'prod' %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-{{ app.analyticsCode }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ app.analyticsCode }}');
        </script>
    {% endif %}
</body>
</html>
{% endspaceless %}