{% extends "site/layout/layout.twig" %}
{% block title %} | Dúvidas Frequentes {% endblock %}
{% block content %}
    <div class="blocks-container block-doubts" id="doubts-container">
        <div class="col-12 head-container">
            <div class="text-center">
                <h2>DÚVIDAS FREQUENTES</h2>
                <p class="head-subtitle">Verifique se sua dúvida se enquadra nas questões abaixo:</p>
            </div>
        </div>
        {% if not fileIsEmpty %}
            <div class="flex-container">
                <div class="col-md-12 doubts-accordions">
                    {% for question in questions %}
                        <div class="accordion col-md-12">
                            <div class="doubt">
                                <div class="col-md-11 col-xs-9 doubt-question">
                                    <h4 class="doubt-title collapsed" data-toggle="collapse" data-target="#answer{{ loop.index }}">{{ loop.index }}. {{ question[0] }}</h4>
                                </div>
                                <div class="col-md-1 col-xs-3 text-right doubt-show-answer">
                                    <button type="button" class="btn-circle" data-toggle="collapse" data-target="#answer{{ loop.index }}">+</button>
                                </div>
                            </div>

                            <div id="answer{{ loop.index }}" class="col-md-11 collapse answer-size">
                                {{ question[1] | raw }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ webpackAsset('/js/doubts.js') }}"></script>
{% endblock %}
