{% extends "admin/layout/layout-adm.twig" %}

{% block content %}
    <div class="col-md-12" style="display: none;">
        <label class="error" id="error"></label>
    </div>
    <br>
    <div class="col-md-12 winnersAccordions" id="winnersList">
        {% for campaignId, lotteryCampaign in winners %}
            <div class="accordion col-md-12">
                <div class="lotteryLine {{ lotteryCampaign.generalCampaign ? 'lineBg generalCampaignLine' : '' }}" data-toggle="collapse" data-target="#lotteryWinners{{ campaignId }}">
                    <div class="col-md-11 col-xs-10 lotteryTextContainer">
                        <h4 class="lotteryTitle {{ lotteryCampaign.id == campaignSelected ? 'highlighted' : '' }}">
                            PERÍODO DE PARTICIPAÇÃO {{ lotteryCampaign.campaignBegins | date('d/m/Y') }} - {{ lotteryCampaign.campaignEnds | date('d/m/Y') }}
                            SORTEIO {{ lotteryCampaign.generalCampaign ? 'FINAL ' : '' }} {{ lotteryCampaign.campaignEnds | date_modify("+1 day") | date('d/m/Y') }}
                        </h4>
                    </div>
                    <div class="col-md-1 col-xs-2 text-right btnActionContainer lotteryExpandBtnContainer">
                        <button style="z-index: 50;" type="button" class="btn-circle {{ lotteryCampaign.id == campaignSelected ? 'active' : '' }} {{ lotteryCampaign.generalCampaign ? 'generalCampaignBtnBg' : '' }}"
                                data-toggle="collapse"
                                data-target="#lotteryWinners{{ campaignId }}">
                            {{ lotteryCampaign.id == campaignSelected ? '<i class="fa fa-minus" aria-hidden="true"></i>' : '<i class="fa fa-plus" aria-hidden="true"></i>' }}
                        </button>
                    </div>
                </div>

                <div id="lotteryWinners{{ campaignId }}"
                     class="col-md-12 collapse lotteryWinnersContainer {{ lotteryCampaign.id == campaignSelected ? 'in' : '' }} {{ lotteryCampaign.generalCampaign ? 'campaignGeneral' : '' }}"
                >
                    <table>
                        <thead>
                        <tr class="lineTable">
                            {% for column in tableStructure %}
                                <th>{{ column }}</th>
                            {% endfor %}
                            <th>
                                {% if lotteryCampaign.table | length > 0 %}
                                    <div class="col-md-12 col-xs-12 text-right btnActionContainer lotteryAddWinnerBtnContainer">
                                        <button data-first="1" data-index="1" title="Adicionar como primeiro" type="button" class="btn-circle btnAddWinner">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if lotteryCampaign.table | length > 0 %}
                            {% for key, winner in lotteryCampaign.table %}
                                <tr class="lineTable {{ key == winnerIndexToHighlight ? 'fadeBackground' : '' }} {{ loop.last ? 'lastLine' : '' }}">
                                    {% for key, column in tableStructure %}
                                        <td class="{{ column == 'Nome' ? 'winnerName' : '' }}">{{ winner[key] }}</td>
                                    {% endfor %}
                                    <td class="actions">
                                        <div style="{{ loop.last ? 'display: none;' : '' }}" class="col-md-6 col-xs-6 text-right btnActionContainer lotteryAddWinnerBtnContainer {{ loop.last ? 'lastAddButton' : ''}}">
                                            <button data-index="{{ loop.index + 1 }}" title="Adicionar abaixo" type="button" class="btn-circle btnAddWinner">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="{{ loop.last ? 'pull-right' : '' }} col-md-6 col-xs-6 text-right btnActionContainer lotteryRemoveWinnerBtnContainer">
                                            <button data-campaign="{{ lotteryCampaign.id }}" data-index="{{ loop.index }}" title="Remover" type="button" class="btn-circle btnRemoveWinner">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <tr id="lineForm">
                            <input data-name="campaignId" class="campaignIdInput" type="hidden" name="campaignId" value="{{ campaignId }}">
                            {% for key, column in tableStructure %}
                                <td>
                                    <input data-name="{{ column|replace({' ' : '-'})|lower  ~ 'Input'}}" name="{{ column|replace({' ' : '-'})| lower  ~ 'Input'}}-{{ lotteryCampaign.id }}" type="text" class="winnerInputColumn form-control {{ column|lower  ~ 'Input'}}" placeholder="{{ column }}">
                                </td>
                            {% endfor %}
                            <td class="actions">
                                <div class="col-md-12 col-xs-12 text-right btnActionContainer lotterySaveWinnerBtnContainer">
                                    <button title="Adicionar abaixo" type="button" class="btn-circle btnSaveWinner" disabled style="opacity: 0.3">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="dialog" class="modal fade removeWinnerModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" style="z-index: 10500;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="color: black;">Remover Ganhador</h4>
                </div>
                <div class="modal-body">
                    <p style="color: black;">Confirmar a remoção de <span id="winnerNameRemove"></span>?</p>
                </div>
                <div class="modal-footer">
                    <div class="form-group col-md-6 col-xs-12">
                        <button class="btn btn-xs visible-xs-block visible-sm-inline-block
                         visible-md-inline-block visible-lg-inline-block btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <button id="formConfirmRemove" class="btn btn-xs visible-xs-block visible-sm-inline-block
                     visible-md-inline-block visible-lg-inline-block btn-success">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" class="modal fade saveWinnerModal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" style="z-index: 10500;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="color: black;">Salvar Ganhador?</h4>
                </div>
                <div class="modal-body">
                    {% for key, column in tableStructure %}
                        <p style="color: black;">{{ column }}: <span id="{{ column|replace({' ' : '-'})|lower }}Input"></span></p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <div class="form-group col-md-6 col-xs-12">
                        <button class="btn btn-xs visible-xs-block visible-sm-inline-block
                             visible-md-inline-block visible-lg-inline-block btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                    <div class="form-group col-md-6 col-xs-12">
                        <button id="formConfirmSave" class="btn btn-xs visible-xs-block visible-sm-inline-block
                         visible-md-inline-block visible-lg-inline-block btn-success">
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}